.about {
    position: relative;
    min-height: 100vh;
    padding: 80px 20px 20px;
}

.about-title {
    top: 80px;
    left: 20px;
    font-size: 35px;
    align-items: center;
    text-align: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 0 auto;
}

.about-para {
    background: white;
    padding: 50px 50px 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba (0, 0, 0, .1);
    color: rgb(0,0,0);
    margin: 25px;
    text-align:left;
    font-size: 30px;
}

